@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* { box-sizing: border-box; }

body {
   /* height: 100vh; */
   margin: 0;

   display: flex;
	flex-direction: column;
   justify-content: center;
	align-items: center;

	background: #D9D2E9;
	background: -webkit-linear-gradient(to right bottom, rgb(197, 230, 236), rgb(239, 187, 230));
	background: linear-gradient(to right bottom, rgb(197, 230, 236), rgb(239, 187, 230));

	font-family: 'Lato';
}

h1 { letter-spacing: 2px; }

.poke-container {
   max-width: 1200px;
   margin: 0 auto;
	margin-bottom: 40px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
   align-items: space-between;
}

.pokemon {
	min-width: 200px;
	padding: 20px 20px 18px;
   margin: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #eee;
	/* text-align: center; */
	/* background-image: linear-gradient(160deg, #ffe2f8, #e7f9ff); */
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);

	text-align: center;
	transition: all .5s;
}

.pokemon:hover {
	transform: translateY(-10px);
	transition: all .5s;
}

.pokemon .img-container {
	width: 120px;
	height: 120px;
	
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 50%;
   
   text-align: center;
	transition: all .4s;
}

.pokemon:hover .img-container {
	transform: scale(1.65) translateY(-18px);
	background-color: rgba(255, 255, 255, .96);
	transition: all .4s;
}

.pokemon .img-container img {
   max-width: 75%;
	margin-top: 14px;
}

.pokemon .info { margin-top: 14px; }

.pokemon:hover .info { margin-top: -120px; }

.pokemon .number {
	color: #444;
   padding: 5px 10px;

	background-color: #fff;
	border-radius: 10px;

	font-size: 0.7em;
	font-weight: 700;
	letter-spacing: 1px;
}

.pokemon .name {
	font-size: 13px;
	margin: 12px 0 0px;
	letter-spacing: 1px;
}

.pokemon .type {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* SOCIAL PANEL CSS */

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;

	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible { transform: translateX(-10px); }

.social-panel {	
   position: relative;

	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
   
   display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	
	font-family: 'Muli';
}

.social-panel button.close-btn {
   position: absolute;
	top: 5px;
	right: 5px;

	border: 0;
	
   color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	
}

.social-panel button.close-btn:focus { outline: none; }

.social-panel p {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 235px;
	padding: 2px 17px 6px;
	margin: 0;

	background-color: #001F61;
	border-radius: 0 0 10px 10px;

	color: #fff;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.social-panel p i { margin: 0 5px; }

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;

	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	padding: 0;
	margin: 0;

	display: flex;

	list-style-type: none;
}

.social-panel ul li { margin: 0 10px; }

.social-panel ul li a {
	height: 50px;
	width: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	
	color: #001F61;
	font-size: 20px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	z-index: 999;

	position: fixed;
	bottom: 20px;
	right: 20px;

	padding: 12px 20px;

	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus { outline: none; }

.floating-text {
	position: fixed;
	bottom: 0;
	left: 50%;

	transform: translateX(-50%);

	padding: 7px 15px;

	background-color: #001F61;
	border-radius: 10px 10px 0 0;

	color: #fff;
	font-family: 'Muli';
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.social-panel-container.visible { transform: translateX(0px); }
	
	.floating-btn { right: 10px; }
}